-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: mbta-db-aurora-dev.cluster-c78e4guea4uu.us-east-2.rds.amazonaws.com    Database: mbtadb
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Audit_Logs`
--

DROP TABLE IF EXISTS `Audit_Logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Audit_Logs` (
  `id` char(36) NOT NULL DEFAULT (uuid()),
  `move_id` char(36) NOT NULL,
  `user_id` char(36) NOT NULL,
  `action` varchar(200) NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `move_id` (`move_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `Audit_Logs_ibfk_1` FOREIGN KEY (`move_id`) REFERENCES `Moves` (`id`),
  CONSTRAINT `Audit_Logs_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `Users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Cars`
--

DROP TABLE IF EXISTS `Cars`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Cars` (
  `id` char(36) NOT NULL DEFAULT (uuid()),
  `line_id` char(36) NOT NULL,
  `series_number` varchar(100) NOT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `line_id` (`line_id`),
  CONSTRAINT `Cars_ibfk_1` FOREIGN KEY (`line_id`) REFERENCES `Lines` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Inspection_Answers`
--

DROP TABLE IF EXISTS `Inspection_Answers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Inspection_Answers` (
  `id` char(36) NOT NULL DEFAULT (uuid()),
  `inspection_id` char(36) NOT NULL,
  `inspection_form_question_id` char(36) NOT NULL,
  `car_id` char(36) DEFAULT NULL,
  `has_minor_defect` tinyint(1) DEFAULT '0',
  `has_major_defect` tinyint(1) DEFAULT '0',
  `comments` varchar(250) DEFAULT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `is_guardside` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `inspection_id` (`inspection_id`),
  KEY `inspection_form_question_id` (`inspection_form_question_id`),
  KEY `car_id` (`car_id`),
  CONSTRAINT `Inspection_Answers_ibfk_1` FOREIGN KEY (`inspection_id`) REFERENCES `Inspections` (`id`),
  CONSTRAINT `Inspection_Answers_ibfk_2` FOREIGN KEY (`inspection_form_question_id`) REFERENCES `Inspection_Form_Questions` (`id`),
  CONSTRAINT `Inspection_Answers_ibfk_3` FOREIGN KEY (`car_id`) REFERENCES `Cars` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Inspection_Form_Categories`
--

DROP TABLE IF EXISTS `Inspection_Form_Categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Inspection_Form_Categories` (
  `id` char(36) NOT NULL DEFAULT (uuid()),
  `name` varchar(100) NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Inspection_Form_Questions`
--

DROP TABLE IF EXISTS `Inspection_Form_Questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Inspection_Form_Questions` (
  `id` char(36) NOT NULL DEFAULT (uuid()),
  `inspection_form_section_id` char(36) NOT NULL,
  `description` varchar(250) NOT NULL,
  `question_type` int NOT NULL,
  `has_comments` tinyint(1) DEFAULT '0',
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `inspection_form_category_id` char(36) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `inspection_form_section_id` (`inspection_form_section_id`),
  KEY `fk_inspection_form_category` (`inspection_form_category_id`),
  CONSTRAINT `fk_inspection_form_category` FOREIGN KEY (`inspection_form_category_id`) REFERENCES `Inspection_Form_Categories` (`id`),
  CONSTRAINT `Inspection_Form_Questions_ibfk_1` FOREIGN KEY (`inspection_form_section_id`) REFERENCES `Inspection_Form_Sections` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Inspection_Form_Sections`
--

DROP TABLE IF EXISTS `Inspection_Form_Sections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Inspection_Form_Sections` (
  `id` char(36) NOT NULL DEFAULT (uuid()),
  `inspection_form_id` char(36) NOT NULL,
  `name` varchar(100) NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `inspection_form_id` (`inspection_form_id`),
  CONSTRAINT `Inspection_Form_Sections_ibfk_1` FOREIGN KEY (`inspection_form_id`) REFERENCES `Inspection_Forms` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Inspection_Forms`
--

DROP TABLE IF EXISTS `Inspection_Forms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Inspection_Forms` (
  `id` char(36) NOT NULL DEFAULT (uuid()),
  `name` varchar(100) NOT NULL,
  `has_comments` tinyint(1) DEFAULT '0',
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `has_guardside_signature` tinyint(1) DEFAULT '0',
  `has_foreperson_signature` tinyint(1) DEFAULT '0',
  `is_light_rail` tinyint(1) DEFAULT '0',
  `short_name` varchar(100) DEFAULT NULL,
  `description` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Inspections`
--

DROP TABLE IF EXISTS `Inspections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Inspections` (
  `id` char(36) NOT NULL DEFAULT (uuid()),
  `move_id` char(36) NOT NULL,
  `inspection_form_id` char(36) NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `move_id` (`move_id`),
  KEY `inspection_form_id` (`inspection_form_id`),
  CONSTRAINT `Inspections_ibfk_1` FOREIGN KEY (`move_id`) REFERENCES `Moves` (`id`),
  CONSTRAINT `Inspections_ibfk_2` FOREIGN KEY (`inspection_form_id`) REFERENCES `Inspection_Forms` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Lines`
--

DROP TABLE IF EXISTS `Lines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Lines` (
  `id` char(36) NOT NULL DEFAULT (uuid()),
  `name` varchar(100) NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `is_light_rail` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Move_Cars`
--

DROP TABLE IF EXISTS `Move_Cars`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Move_Cars` (
  `id` char(36) NOT NULL DEFAULT (uuid()),
  `move_id` char(36) NOT NULL,
  `first_car_id` char(36) NOT NULL,
  `second_car_id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `pair_order` int NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `move_id` (`move_id`),
  KEY `first_car_id` (`first_car_id`),
  KEY `second_car_id` (`second_car_id`),
  CONSTRAINT `Move_Cars_ibfk_1` FOREIGN KEY (`move_id`) REFERENCES `Moves` (`id`),
  CONSTRAINT `Move_Cars_ibfk_2` FOREIGN KEY (`first_car_id`) REFERENCES `Cars` (`id`),
  CONSTRAINT `Move_Cars_ibfk_3` FOREIGN KEY (`second_car_id`) REFERENCES `Cars` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Move_Reason_Inspection_Form_Associations`
--

DROP TABLE IF EXISTS `Move_Reason_Inspection_Form_Associations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Move_Reason_Inspection_Form_Associations` (
  `id` char(36) NOT NULL DEFAULT (uuid()),
  `move_reason_id` char(36) NOT NULL,
  `inspection_form_id` char(36) NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `move_reason_id` (`move_reason_id`),
  KEY `inspection_form_id` (`inspection_form_id`),
  CONSTRAINT `Move_Reason_Inspection_Form_Associations_ibfk_1` FOREIGN KEY (`move_reason_id`) REFERENCES `Move_Reasons` (`id`),
  CONSTRAINT `Move_Reason_Inspection_Form_Associations_ibfk_2` FOREIGN KEY (`inspection_form_id`) REFERENCES `Inspection_Forms` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Move_Reasons`
--

DROP TABLE IF EXISTS `Move_Reasons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Move_Reasons` (
  `id` char(36) NOT NULL DEFAULT (uuid()),
  `name` varchar(100) NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `is_available_satellite_yards` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Move_Tag_Associations`
--

DROP TABLE IF EXISTS `Move_Tag_Associations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Move_Tag_Associations` (
  `id` char(36) NOT NULL DEFAULT (uuid()),
  `move_id` char(36) NOT NULL,
  `tag_id` char(36) NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `move_id` (`move_id`),
  KEY `tag_id` (`tag_id`),
  CONSTRAINT `Move_Tag_Associations_ibfk_1` FOREIGN KEY (`move_id`) REFERENCES `Moves` (`id`),
  CONSTRAINT `Move_Tag_Associations_ibfk_2` FOREIGN KEY (`tag_id`) REFERENCES `Tags` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Moves`
--

DROP TABLE IF EXISTS `Moves`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Moves` (
  `id` char(36) NOT NULL DEFAULT (uuid()),
  `yard_id` char(36) NOT NULL,
  `move_reason_id` char(36) NOT NULL,
  `move_done_by_user_id` char(36) DEFAULT NULL,
  `inspections_done_by_user_id` char(36) DEFAULT NULL,
  `guardside_inspection_done_by_user_id` char(36) DEFAULT NULL,
  `yardmaster_user_id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `due_date` timestamp NOT NULL,
  `status` varchar(100) NOT NULL,
  `priority_order` int NOT NULL,
  `move_from` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `move_to` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `inspections_selected_by_user_id` char(36) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `yard_id` (`yard_id`),
  KEY `move_reason_id` (`move_reason_id`),
  KEY `move_done_by_user_id` (`move_done_by_user_id`),
  KEY `inspections_done_by_user_id` (`inspections_done_by_user_id`),
  KEY `guardside_inspection_done_by_user_id` (`guardside_inspection_done_by_user_id`),
  KEY `yardmaster_user_id` (`yardmaster_user_id`),
  KEY `inspections_selected_by_user_id` (`inspections_selected_by_user_id`),
  CONSTRAINT `Moves_ibfk_1` FOREIGN KEY (`yard_id`) REFERENCES `Yards` (`id`),
  CONSTRAINT `Moves_ibfk_2` FOREIGN KEY (`move_reason_id`) REFERENCES `Move_Reasons` (`id`),
  CONSTRAINT `Moves_ibfk_3` FOREIGN KEY (`move_done_by_user_id`) REFERENCES `Users` (`id`),
  CONSTRAINT `Moves_ibfk_4` FOREIGN KEY (`inspections_done_by_user_id`) REFERENCES `Users` (`id`),
  CONSTRAINT `Moves_ibfk_5` FOREIGN KEY (`guardside_inspection_done_by_user_id`) REFERENCES `Users` (`id`),
  CONSTRAINT `Moves_ibfk_6` FOREIGN KEY (`yardmaster_user_id`) REFERENCES `Users` (`id`),
  CONSTRAINT `Moves_ibfk_7` FOREIGN KEY (`inspections_selected_by_user_id`) REFERENCES `Users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Signatures`
--

DROP TABLE IF EXISTS `Signatures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Signatures` (
  `id` char(36) NOT NULL DEFAULT (uuid()),
  `move_id` char(36) NOT NULL,
  `user_id` char(36) NOT NULL,
  `uri` varchar(200) NOT NULL,
  `signature_type` varchar(100) NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `move_id` (`move_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `Signatures_ibfk_1` FOREIGN KEY (`move_id`) REFERENCES `Moves` (`id`),
  CONSTRAINT `Signatures_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `Users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Tags`
--

DROP TABLE IF EXISTS `Tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Tags` (
  `id` char(36) NOT NULL DEFAULT (uuid()),
  `move_reason_id` char(36) NOT NULL,
  `name` varchar(200) NOT NULL,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `move_reason_id` (`move_reason_id`),
  CONSTRAINT `Tags_ibfk_1` FOREIGN KEY (`move_reason_id`) REFERENCES `Move_Reasons` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Users`
--

DROP TABLE IF EXISTS `Users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Users` (
  `id` char(36) NOT NULL DEFAULT (uuid()),
  `name` varchar(100) NOT NULL,
  `badge_number` varchar(100) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `key_cloak_id` char(36) DEFAULT NULL,
  `line` varchar(50) DEFAULT NULL,
  `role` varchar(50) DEFAULT NULL,
  `username` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Yards`
--

DROP TABLE IF EXISTS `Yards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Yards` (
  `id` char(36) NOT NULL DEFAULT (uuid()),
  `line_id` char(36) NOT NULL,
  `name` varchar(100) NOT NULL,
  `is_main_yard` tinyint(1) DEFAULT '0',
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `line_id` (`line_id`),
  CONSTRAINT `Yards_ibfk_1` FOREIGN KEY (`line_id`) REFERENCES `Lines` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-06 11:39:52
