-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: mbta-db-aurora-dev.cluster-c78e4guea4uu.us-east-2.rds.amazonaws.com    Database: mbtadb
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `Cars`
--
-- ORDER BY:  `id`

LOCK TABLES `Cars` WRITE;
/*!40000 ALTER TABLE `Cars` DISABLE KEYS */;
/*!40000 ALTER TABLE `Cars` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `Inspection_Form_Categories`
--
-- ORDER BY:  `id`

LOCK TABLES `Inspection_Form_Categories` WRITE;
/*!40000 ALTER TABLE `Inspection_Form_Categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `Inspection_Form_Categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `Inspection_Form_Questions`
--
-- ORDER BY:  `id`

LOCK TABLES `Inspection_Form_Questions` WRITE;
/*!40000 ALTER TABLE `Inspection_Form_Questions` DISABLE KEYS */;
/*!40000 ALTER TABLE `Inspection_Form_Questions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `Inspection_Form_Sections`
--
-- ORDER BY:  `id`

LOCK TABLES `Inspection_Form_Sections` WRITE;
/*!40000 ALTER TABLE `Inspection_Form_Sections` DISABLE KEYS */;
/*!40000 ALTER TABLE `Inspection_Form_Sections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `Inspection_Forms`
--
-- ORDER BY:  `id`

LOCK TABLES `Inspection_Forms` WRITE;
/*!40000 ALTER TABLE `Inspection_Forms` DISABLE KEYS */;
/*!40000 ALTER TABLE `Inspection_Forms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `Lines`
--
-- ORDER BY:  `id`

LOCK TABLES `Lines` WRITE;
/*!40000 ALTER TABLE `Lines` DISABLE KEYS */;
INSERT INTO `Lines` (`id`, `name`, `last_update`, `created_at`, `is_light_rail`) VALUES ('3a60d3a1-19dd-11ef-968b-0a7699ec4bfd','Blue Line','2024-05-24 14:52:22','2024-05-24 14:52:22',0),('5429b56a-19dd-11ef-968b-0a7699ec4bfd','Orange Line','2024-05-24 14:53:06','2024-05-24 14:53:06',0),('59ede1c7-19dd-11ef-968b-0a7699ec4bfd','Red Line','2024-05-24 14:53:15','2024-05-24 14:53:15',0),('62ef8490-19dd-11ef-968b-0a7699ec4bfd','Green Line','2024-05-29 21:38:01','2024-05-24 14:53:31',1);
/*!40000 ALTER TABLE `Lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `Move_Reason_Inspection_Form_Associations`
--
-- ORDER BY:  `id`

LOCK TABLES `Move_Reason_Inspection_Form_Associations` WRITE;
/*!40000 ALTER TABLE `Move_Reason_Inspection_Form_Associations` DISABLE KEYS */;
/*!40000 ALTER TABLE `Move_Reason_Inspection_Form_Associations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `Move_Reasons`
--
-- ORDER BY:  `id`

LOCK TABLES `Move_Reasons` WRITE;
/*!40000 ALTER TABLE `Move_Reasons` DISABLE KEYS */;
/*!40000 ALTER TABLE `Move_Reasons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `Tags`
--
-- ORDER BY:  `id`

LOCK TABLES `Tags` WRITE;
/*!40000 ALTER TABLE `Tags` DISABLE KEYS */;
/*!40000 ALTER TABLE `Tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `Yards`
--
-- ORDER BY:  `id`

LOCK TABLES `Yards` WRITE;
/*!40000 ALTER TABLE `Yards` DISABLE KEYS */;
/*!40000 ALTER TABLE `Yards` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-09  3:27:29
